@font-face {
    font-family: 'TT Lakes Regular';
    src: url('TTLakes-Regular.ttf');
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('TTLakes-Medium.ttf');
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('TTLakes-Bold.ttf');
}