/*==========  Desktop First  ========== */
@media (max-width: 1420px) {
}
/* Large Devices, Wide Screens */
@media (max-width: 1200px) {
  .left-section.open {
    opacity: 1;
    visibility: visible;
    position: fixed;
  }
  .left-section.open.left-container {
      transform: translateX(0px);
      opacity: 1;
  }
}
@media (max-width: 1119px) {
  .left-section {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.96);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    .left-container {
      max-width: 360px;
      min-width: 320px;
      width: 100%;
      transform: translateX(-100%);
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    }
    .popup__close-left {
      display: unset!important;
    }
  }
  .upper-menu {
    display: unset;
  }
}
/* Medium Devices, Desktops */
@media (max-width: 992px) {
  /* */
}
// /* Small Devices, Tablets */
@media (max-width: 768px) {
  
}
/* Extra Small Devices, Phones */
@media (max-width: 480px) {
  
}
/* Custom, iPhone Retina */
@media (max-width: 320px) {
  
}
/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media (min-width: 320px) {
  .main-section {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .header-menu {
    display: none;
  }
  .services-content {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    position: relative;
  }
  .services-content::before {
    content: '';
    position: fixed;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 24px;
    height: 39px;
    right: 10px;
  }
  .upper-menu-left {
    margin-right: 16px;
    hr {
      display: none;
    }
    .hamburger {
      margin-right: 16px;
    }
    
  }
  .main-container {
    padding: unset;
    padding: 24px 16px 19px 16px;
  } 
  .upper-menu {
    padding: unset;
    padding-left: 16px;
    display: flex;
  }
  .upper-icons-left {
    display: none;
  }
  .upper-menu-right {
    margin: auto 0;
     hr {
      margin: unset;
      margin-right: 20px;
    }
  }
  .upper-icons-right {
    display: flex;
    * {
      margin-right: 16px;
    }
  }
  .idea {
    flex-direction: column;
    padding: unset;
    .idea-text {
      order: 1;
      max-width: unset;
      margin: unset;
    }
    .preview-image {
      display: flex;
      order: 2;
    }
    
  }
  .brands-slider__wrapper {
    display: flex;
    column-gap: 32px;
    row-gap: 16px;
    margin-bottom: 24px;
    .brands-slider__slide {
      min-width: 220px;
    }
  }
  .brands-slider {
    position: relative;
  }
  .brands-slider::before {
    content: '';
    z-index: 2;
    position: absolute;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 24px;
    height: 72px;
    top: 0;
    right: -16px;
  }
  .technics-slider__wrapper {
    display: flex;
    column-gap: 32px;
    row-gap: 16px;
    margin-bottom: 20px;
    .technics-slider__slide {
      min-width: 220px;
    }
  }
  .technics-slider {
    position: relative;
  }
  .technics-slider::before {
    content: '';
    z-index: 2;
    position: absolute;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 24px;
    height: 160px;
    top: 0;
    right: -16px;
  }
  .show-all-btn__container {
    display: none;
  }
  .show-all-btn__container-two {
    display: none;
  }
  .main-section__brands
  {
    min-width: 0;
  }
}
/* Extra Small Devices, Phones */
@media (min-width: 480px) {
  .upper-icons-left {
    display: flex;
    * {
      margin-right: 16px;
    }
  }
}
// /* Small Devices, Tablets */
@media (min-width: 768px) {
  .main-section {
    overflow: hidden;
  }
  .idea {
    flex-direction: unset;
    display: flex;
    padding-right: 34px;
    .idea-text {
      max-width: 50%;
		  margin-right: 36px;
    }
    .preview-image {
      display: unset;
      img {
        width: 100%;
      }
    }
    .swiper-pagination {
      display: none;
    }
  }
  .brands-slider__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr) );
    column-gap: 32px;
    row-gap: 16px;
    margin-bottom: 24px;
  }
  .technics-slider__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr) );
    column-gap: 32px;
    row-gap: 16px;
    margin-bottom: 24px;
  }
  .show-all-btn__container {
    display: flex;
  }
  .show-all-btn__container-two {
    display: flex;
  }
  .services-content {
    display: inline-block;
    flex-direction:row;
    overflow-x: hidden;
    white-space: normal;
    li {
      display: inline;
    }
  }
}
/* Medium Devices, Desktops */
@media (min-width: 992px) {
  
}
@media (min-width: 1120px) {
  .left-section {
    z-index: 2;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
    position: relative;
    .left-container {
      opacity: 1!important;
      transform: translateX(0)!important;
    }
  }
  .upper-menu {
    display: none;
  }
  .header-menu {
    display: flex;
  }
  .main-container {
    padding: 42px 32px 21px 32px;
  }
  .main-section {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
@media (min-width: 1200px) {
  
}
/*# sourceMappingURL=adaptive.css.map */