@media (min-width: 320px) {
	.main-section {
	  overflow-y: scroll;
	  overflow-x: hidden;
	}
	.header-menu {
		display: none;
	}
	.main-container {
		padding: unset;
		padding: 24px 16px 19px 16px;
	}
	.main-section__brands
	{
		min-width: 0;
	}
	.idea {
		flex-direction: column;
		padding: unset;
		.idea-text {
			order: 1;
			max-width: unset;
			margin: unset;
		}
		.preview-image {
			display: flex;
			order: 2;
		}
	}
}
@media (min-width: 768px) {
	.main-section {
		overflow: hidden;
	}
	.idea {
		flex-direction: unset;
		display: flex;
		padding-right: 34px;
		.idea-text {
			max-width: 50%;
			margin-right: 36px;
		}
		.preview-image {
			display: unset;
			img {
				width: 100%;
			}
		}
		.swiper-pagination {
		  	display: none;
		}
	}
}
@media (min-width: 1120px) {
	.main-container {
		padding: 42px 32px 21px 32px;
	}
	.main-section {
		overflow-y: hidden;
		overflow-x: hidden;
	}
	.header-menu {
		display: flex;
	}
}

.container {
	margin: 0 auto;
	max-width: 1440px;
	display: flex;
	position: relative;
}
.main-section {
	max-width: 1120px;
	background-color: $color_5;
}
.main-container {
	margin: 0 auto;
}
.main-header {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.header-menu {
	button {
		font-family: $font-family_1;
        font-weight: 600;
		line-height: 2.5;
		text-decoration: none;
		color: $color_3;
		background-color: #F8F8F8;
		margin: 0 8px;
		letter-spacing: -0.2px;
	}
	li {
		display: flex;
		.icon_1 {
		margin-right: 22px;
		}
	}
	.repair-icon {
		width: 40px;
		height: 40px;
		background-image: url('../img/icons/repair.svg');
		margin-right: 24px;
	}
	.checkstatus-icon {
		width: 40px;
		height: 40px;
		background-image: url('../img/icons/checkstatus.svg');
	}
}
.header-name {
	position: relative;
	h1 {
		font-size: 28px;
		font-family: $font-family_2;
		font-weight: 400;
		letter-spacing: -0.6px;
	}
	hr {
		left: -33px;
		position: absolute;
		width: 4px;
		height: 40px;
		background-color: $color_9;
		border: none;
		border-radius: 3px;
	}
}
.icon {
	max-width: 40px;
}
main{
	display: flex;
	margin-bottom: 38px;
}
article.preview {
  	min-height: 100px;
}
section.idea {
	display: flex;
	position: relative;
	justify-content: flex-start;
	border-radius: 5px;
	margin-bottom: 14px;
	p {
		letter-spacing: 0.2px;
		margin: 1em 0;
		font-size: 14px;
	}
	p:last-child {
		margin: 0;
	}
	.preview-image {	
		.el-3 {
			visibility: visible;
			opacity: 1;
		}
		img {
			max-width: 532px;
			max-height: 307px;
			border-radius: 5px;
		}
	}
}
.read-more-btn {
	display: flex;
	border: none;
	margin-bottom: 10px;
	cursor: pointer;
	background-color: $color_5;
	.expand {
		width: 23px;
	}
	p {
		font-family: $font-family_1;
        font-weight: 600;
		margin-left: 5px;
		line-height: 1.7;
	}
}
.read-more-btn__container {
	bottom: 0;
	right:0;
	background: $color_5;
	text-align: left;
}
.footer {
    border-top: 1px solid #D9FFF5;
	.container {
		margin-top: 32px;
		display: flex;
		font-size: 14px;
		a {
			text-decoration: none;
		}
		p {
			color: $color_4;
		}
		.developers {
			max-width: 218px;
			margin-right: auto;
		}
		.copyright {
			max-width: 214px;
		}
		.copyright:hover {
			color: $color_3;
		}
		.info {
			margin-left: auto;
			text-align: right;
			max-width: 330px;
		}
	}
}
@media (max-width: 480px) {
	.footer {
		display: flex;
		.container {
			display: flex;
			flex-direction: column;
			margin: unset;
			p {
				display: flex;
				justify-content: center;
				text-align: center;
			}
			.developers {
				max-width: unset;
				margin-right: unset;
				margin-bottom: 16px;
			}
			.copyright {
				max-width: unset;
				margin-bottom: 16px;
			}
			.copyright:hover {
				color: $color_3;
			}
			.info {
				margin-left: unset;
				max-width: unset;
			}
		}
	}
}
