.services {
    display: flex;
    flex-flow: row nowrap;
    background: $color_5;
    overflow: scroll;
    align-items: center;
    padding: 0 0 0 16px;
    width: 1439px;
}
  
.services * {
    display: flex;
    flex-flow:nowrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 40px;
    width: 246px;
    padding: 0;
    &:hover {
        cursor: pointer;
        border: 2px solid $color_9;
        border-radius: 6px;
    }
}