@media (min-width: 320px) {
	.upper-menu-left {
		margin-right: 16px;
		hr {
			display: none;
		}
		.hamburger {
			margin-right: 16px;
		}
	  
	}
	.upper-menu {
		padding: unset!important;
		padding-left: 16px!important;
	}
	.upper-icons-left {
	  	display: none;
	}
	.upper-menu-right {
		margin: auto 0;
		hr {
			margin: unset!important;
			margin-right: 16px!important;
		}
	}
	.upper-icons-right {
		display: flex;
		* {
		  margin-right: 16px;
		}
	}
}
@media (min-width: 480px) {
	.upper-icons-left {
		display: flex;
		* {
			margin-right: 16px;
		}
	}
}
@media (min-width: 1120px) {
	.upper-menu {
		display: none;
	}  
}
@media (max-width: 1119px) {
	.upper-menu {
		display: flex;
	}
}

.upper-menu {
	padding: 0 24px;
	height: 88px;
	background: #fff;
	justify-content: space-between;
	border-bottom: 1px solid #D9FFF5;
	hr {
		width: 2px;
		height: 32px;
		background-color: $color_8;
		border: none;
		transform: translate(0, 15%);
	}
}
.upper-menu-left {
	display: flex;
	transform: translate(0, 30%);
	.logo {
		margin: 0;
		width: 96.55px;
		height: 50.81px;
		transform: translate(0, -17%);
		background-image: url('../img/logo.svg');
	}
	hr {
		margin: 0 20px;
	}
}
.upper-menu-right {
	display: flex;
	hr {
		margin: 0 4px 0 20px;
	}
	.repair-icon {
		width: 40px;
		height: 40px;
		background-image: url('../img/icons/repair.svg');
	}
	.checkstatus-icon {
		width: 40px;
		height: 40px;
		background-image: url('../img/icons/checkstatus.svg');
	}
}
.hamburger {
	width: 40px;
	height: 40px;
	background-image: url('../img/icons/burger.svg');
}
.upper-contacts-icon {
    width: 40px;
    height: 42px;
	.chat-copy {
		background-image: url('../img/icons/chat_copy.svg');
	}
	.chat {
		background-image: url('../img/icons/chat.svg');
	}
	.profile {
		background-image: url('../img/icons/profile.svg');
	}
}